.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-btn {
    background: linear-gradient(90deg,#7c3aed,#06b6d4);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}